/* UpArrow.css */
.up-arrow-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 24px; /* You can adjust the icon size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 1000;
  /* background-color: #05eb51; */
}

.up-arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.up-arrow-btn.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* -webkit blue high ligth ko hatane k liye kaa  aat hain  */
/* ISKO  YAAD RAKH LENA HAIN IIN FUTURE KAAM AA SKATA HIAN */
.up-arrow-btn {
  -webkit-tap-highlight-color: transparent; /* Remove the touch highlight */
  touch-action: manipulation; /* Prevent unintended touch behaviors */
}